{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1>{{ cardapio.nome_restaurante }}</h1>
</div>

<div class="cardapio-container bg-light" style="padding: 20px; border-radius: 10px;">
    <input type="hidden" id="hiddenCardapioId" value="{{ cardapio.cardapio.id_cardapio }}">

    {% for secao in cardapio.cardapio_secoes %}
    <h2>{{ secao.nome }}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in secao.itens %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>R$ {{ item.valor | float }}</td>
                <td>
                    <button data-item-id="{{ item.id_item }}" data-item-name="{{ item.nome }}" class="btn btn-secondary btn-sm btn-edit-name">Editar Nome</button>
                    <button data-item-id="{{ item.id_item }}" data-item-value="{{ item.valor }}" class="btn btn-secondary btn-sm btn-edit-value">Editar Valor</button>
                    <button data-item-id="{{ item.id_item }}" class="btn btn-danger btn-sm delete-item-btn">Deletar Item</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button data-secao-id="{{ secao.id_cardapio_secao }}" class="btn btn-primary btn-sm mb-3 btn-add-item">Adicionar Item</button>
    <button data-secao-id="{{ secao.id_cardapio_secao }}" data-secao-name="{{ secao.nome }}" class="btn btn-secondary btn-sm mb-3 btn-edit-secao">Editar Seção</button>
    <button data-secao-id="{{ secao.id_cardapio_secao }}" class="btn btn-danger btn-sm mb-3 btn-delete-secao">Deletar Seção</button>

    <hr>
    {% endfor %}
    <button class="btn btn-primary btn-add-secao" data-cardapio-id="{{ cardapio.cardapio.id_cardapio }}">Adicionar Seção</button>

</div>


<!-- Modal Editar Nome -->
<div class="modal fade" id="editNameModal" tabindex="-1" role="dialog" aria-labelledby="editNameModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editNameModalLabel">Editar Nome do Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/editar-nome" method="post">
                <div class="modal-body">
                    <input type="hidden" name="item_id" id="item_id_edit" value="">
                    <div class="form-group">
                        <label for="item_nome">Nome</label>
                        <input type="text" class="form-control" name="item_nome" id="item_nome_edit" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Editar Valor -->
<div class="modal fade" id="editValueModal" tabindex="-1" role="dialog" aria-labelledby="editValueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editValueModalLabel">Editar Valor do Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/editar-valor" method="post">
                <div class="modal-body">
                    <input type="hidden" name="item_id_valor" id="item_id_edit_valor" value="">
                    <div class="form-group">
                        <label for="item_valor">Valor (R$)</label>
                        <input type="number" step="0.01" class="form-control" name="item_valor" id="item_valor_edit" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Início do Modal para Adicionar Item -->
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Adicionar Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/adicionar-item" method="post">
                <div class="modal-body">
                    <!-- Campo oculto para armazenar o ID da seção -->
                    <input type="hidden" name="item_secao_id" id="hiddenSecaoId" value="">

                    <!-- Campo para Nome do Item -->
                    <div class="mb-3">
                        <label for="itemName" class="form-label">Nome do Item</label>
                        <input type="text" class="form-control" id="itemName" name="item_name" required>
                    </div>

                    <!-- Campo para Valor do Item -->
                    <div class="mb-3">
                        <label for="itemValue" class="form-label">Valor do Item (R$)</label>
                        <input type="number" step="0.01" class="form-control" id="itemValue" name="item_value" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fim do Modal para Adicionar Item -->
<!-- Início do Modal para Adicionar Seção -->
<div class="modal fade" id="addSecaoModal" tabindex="-1" aria-labelledby="addSecaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSecaoModalLabel">Adicionar Seção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/adicionar-secao" method="post">
                <input type="hidden" name="id_cardapio" id="inputCardapioId">

                <div class="modal-body">
                    <!-- Campo para Nome da Seção -->
                    <div class="mb-3">
                        <label for="secaoName" class="form-label">Nome da Seção</label>
                        <input type="text" class="form-control" id="secaoName" name="nome" required>
                    </div>

                    <!-- Campo oculto para armazenar o ID do cardápio -->
                    <input type="hidden" name="id_cardapio" value="{{ cardapio.id }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fim do Modal para Adicionar Seção -->

<!-- Início do Modal para Editar Seção -->
<div class="modal fade" id="editSecaoModal" tabindex="-1" aria-labelledby="editSecaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSecaoModalLabel">Editar Seção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/editar-secao" method="post">
                <div class="modal-body">
                    <!-- Campo para Nome da Seção -->
                    <div class="mb-3">
                        <label for="editSecaoName" class="form-label">Nome da Seção</label>
                        <input type="text" class="form-control" id="editSecaoName" name="nome" required>
                    </div>
                    <!-- Campo oculto para armazenar o ID da seção -->
                    <input type="hidden" id="editSecaoId" name="id_secao">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Fim do Modal para Editar Seção -->
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $(".delete-item-btn").click(function () {
            const itemId = $(this).data('item-id');

            $.ajax({
                url: `/delete-item/${itemId}`,
                type: 'DELETE',
                success: function (result) {
                    if (result.success) {
                        alert('Item deletado com sucesso!');
                        location.reload(); // Recarrega a página para refletir a mudança
                    } else {
                        alert('Erro ao deletar item. Por favor, tente novamente.');
                    }
                }
            });
        });
    });

    $(".btn-edit-name").click(function () {
        const itemId = $(this).data('item-id');
        const itemName = $(this).data('item-name');
        $("#item_id_edit").val(itemId);
        $("#item_nome_edit").val(itemName);
        $("#editNameModal").modal('show');
    });

    $(".btn-edit-value").click(function () {
        const itemId = $(this).data('item-id');
        const itemValue = $(this).data('item-value');
        $("#item_id_edit_valor").val(itemId);
        $("#item_valor_edit").val(itemValue);
        $("#editValueModal").modal('show');
    });

    $(".btn-add-item").click(function () {
        const secaoId = $(this).data('secao-id');
        $("#hiddenSecaoId").val(secaoId);  // Armazenar o ID da seção em um campo oculto
        $("#addItemModal").modal('show');
    });

    $(".btn-add-secao").click(function () {
        // Obter o id_cardapio do botão
        var cardapioId = $(this).data("cardapio-id");

        // Definir o id_cardapio no campo oculto do modal
        $("#inputCardapioId").val(cardapioId);

        // Mostrar o modal
        $("#addSecaoModal").modal('show');
    });

    $(".btn-edit-secao").click(function () {
        var secaoId = $(this).data("secao-id");
        var secaoName = $(this).data("secao-name");

        $("#editSecaoName").val(secaoName);
        $("#editSecaoId").val(secaoId);

        $("#editSecaoModal").modal('show');
    });

    $(".btn-delete-secao").click(function () {
        var secaoId = $(this).data("secao-id");

        var userConfirmed = confirm("Tem certeza que deseja deletar essa seção?");

        if (userConfirmed) {
            $.post('/deletar-secao', { 'id_secao': secaoId }, function (response) {
                // Recarrega a página após a seção ser removida.
                location.reload();
            });
        }
    });
</script>
{% endblock %}



